.filters{
  max-width: 1200px;
  margin: 20px auto;
  padding-left: 20px;
}

.bg-primary{
  background-color: #3f51b5;
}

.games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 20px auto;
}



