
<div class="filters">
  <mat-form-field class="bg-primary">
    <mat-label>Sort</mat-label>
    <mat-select
    panelClass="sort-select"
    [(ngModel)]="sort"
    (selectionChange)="searchGames(sort)">
    <mat-option value="name">Name</mat-option>
    <mat-option value="-released">Released</mat-option>
    <mat-option value="-added">Added</mat-option>
    <mat-option value="-created">Created</mat-option>
    <mat-option value="-updated">Updated</mat-option>
    <mat-option value="-rating">Rating</mat-option>
    <mat-option value="metacritic">Metacritic</mat-option>


    </mat-select>
  </mat-form-field>
</div>

<div class="games">
  <app-game *ngFor="let g of games" [game]="g"></app-game>
</div>
