<div class="justify-content-between">
  <h2 mat-dialog-title>{{data.name}}</h2> <span class="close" mat-dialog-close title="close">X</span>
</div>
<mat-dialog-content class="mat-typography">
  <img class="img-fluid" src="{{data.screenshots[data.index].image}}" alt="">
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button mat-icon-button (click)="changeImage('decrement')"><mat-icon>keyboard_arrow_left</mat-icon></button>
  <button mat-button mat-icon-button (click)="changeImage('increment')" ><mat-icon>keyboard_arrow_right</mat-icon></button>
</mat-dialog-actions>
