.img-fluid{
  width: 100%;
  height: auto;
}


.mat-dialog-content{
  max-height: none;
}


.justify-content-between{
  display: flex;
  justify-content: space-between;
}

.close{
  cursor: pointer;
}

.btn{
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}
