<div class="game-tabs">
  <mat-tab-group mat-align-tabs="center" backgroundColor="primary">
    <mat-tab label="About">
      <p class="game-tabs-par">
        platforms:
        <span>PC</span>
      </p>
      <p class="game-tabs-par">
        Publishers:
        <span>Konami</span>
      </p>
      <p class="game-tabs-par">
        Website:
        <a class="game-tabs-link" href="#" target="_blank">link</a>
      </p>
      <div class="game-description">
        skdfjslkdjfks
      </div>
      <p class="game-tabs-votes">
        <span>
          <mat-icon class="game-votes-up">thumb_up</mat-icon>
          <span class="game-votes-count">55</span>
        </span>
        <span>
          <mat-icon class="game-votes-down">thumb_down</mat-icon>
          <span class="game-votes-count">24</span>
        </span>
      </p>
    </mat-tab>

    <mat-tab label="Screenshots">
      <img class="game-screenshot" src="https://compass-ssl.xbox.com/assets/e1/7c/e17cbce8-4ab8-4f27-a684-082435c69057.jpg?n=Borderlands-3_Gallery_1350x759_01.jpg" alt="">
    </mat-tab>

    <mat-tab label="trailers">
      <video class="game-trailer" controls>
        <source src="" type="video/mp4" />
        Your Browser Does Not Support The Video Tag
      </video>
    </mat-tab>
  </mat-tab-group>
</div>
